[Unit]
Description=Apache Kafka Server
Requires=network-online.target
[Service]
User=root
Group=root
Type=simple
Environment="JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64"
Environment="LOG_DIR=/opt/kafkadata/applogs"
Environment="KAFKA_HEAP_OPTS=-Xmx2G -Xms2G"
Environment="KAFKA_OPTS=-javaagent:/opt/monitoring/jmx_prometheus_javaagent-0.18.0.jar=7071:/opt/monitoring/kafka-jmx.yml"
ExecStart=/bin/sh -c '/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties > /opt/kafkadata/systemlogs/kafka.log 2>&1'
ExecStop=/opt/kafka/bin/kafka-server-stop.sh
Restart=on-abnormal
[Install]
WantedBy=multi-user.target
