backend-manifest/.terraform
backend-manifest/.terraform.lock.hcl
backend-manifest/terraform.tfstate
backend-manifest/terraform.tfstate.backup
infra-manifest/.terraform
infra-manifest/.terraform.lock.hcl
infra-manifest/ansible/connect-mirror-maker.properties
infra-manifest/ansible/hosts
infra-manifest/commands.txt
infra-manifest/errored.tfstate
.vscode
